[Unit]
Description=Flask Microservice via Gunicorn
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/sem3-template
ExecStart=/home/ubuntu/sem3-template/venv/bin/gunicorn --workers 3 --bind unix:app.sock wsgi:app

[Install]
WantedBy=multi-user.target
